<div class ="jumbo-about">
      <div class="row">
        
        
        <div class="col-md-5">
           <div class="thumbnail">
          
                  <img src="https://dl.dropboxusercontent.com/s/a8alb5w4ikv5l2b/9311308157_42c43bcb0e_m.jpg?dl=0"/>
           </div>
        </div>
                 
         <div class="col-md-7">
             <div class="thumbnail">
          
               <h2>About Me</h2>
               <p>I like to try new things. It can be a new skill, new ideas or even reviewing old styles or methods to find something new. </p>
               <p>My academic background is Chemical engineering. So, turning raw materials into useful products is what I learnt. I also take pictures as you might have seen in the portfolio section of this website. I use Nikkon semi-professional D-series cameras to take pictures.</p>
            
           <p>I am a self learner and at the moment I am learning Ruby on Rails. </p>
            <p>I am improving my skills of HTML/CSS, JavaScript, PHP, SQL etc in details so that I can use them effectively for years to come. However, I will keep making new apps at the same time. 
              </p>
          </div>     
         
     </div>            
</div>
    