 <div class ="jumbo">
      <div class="contain">
         
          
               <div class="banner">
                 
                  <ul>  

                       <li><img src="https://dl.dropboxusercontent.com/s/87ncvbnhupp51wx/bud%20and%20butterfly%201-medium.jpg?dl=0"/></li>
                       <li><img src="https://dl.dropboxusercontent.com/s/0ufhmkbl5sl0j0i/off-track2-medium.jpg?dl=0"/></li>
                       <li><img src="https://dl.dropboxusercontent.com/s/a0305ze8ej6os0g/Clevedon%20pier%203%20medium.jpg?dl=0"/></li>
                       <li><img src="https://dl.dropboxusercontent.com/s/lz4hudy1c0atpez/Secret%20of%20the%20wind-4-medium.jpg?dl=0"/></li>
                       <li><img src="https://dl.dropboxusercontent.com/s/inmg2p5axfvsrg9/Rest%20is%20silence-5-medium.jpg?dl=0"/></li>
                       <li><img src="https://dl.dropboxusercontent.com/s/hj39czpkn3pheh9/Tenby-harbour-medium-6.jpg?dl=0"/></li>
                      
                 </ul>
                 
              </div>
           
        
      </div>
    </div>
    <div class="supporting">
      <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
         <h3>Trondheim harbour</h3> 
          <div>
          <img src="https://dl.dropboxusercontent.com/s/hlkxxqzzrydvmgd/5694188026_6f2b3688dc_m.jpg?dl=0"/>
         </div>
    <p>Boats resting at harbour, Trondheim, Norway</p>
    <p><a href="https://flic.kr/p/9FbcHC">See it in my Flickr page.</a> </p>
       </div>
    </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <h3>Star and Noel</h3>
          <div>
          <img src="https://dl.dropboxusercontent.com/s/97xl15f7rbyq4hf/9913774575_a50f355c11_m.jpg?dl=0"/>
         </div>
    <p>Tenby harbour, Wales, UK</p>
    <p><a href="https://flic.kr/p/g73FMR">See it in my Flickr page.</a> </p>
       </div>
    </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <h3>Clevedon pier</h3>
          <div>
          <img src="https://dl.dropboxusercontent.com/s/nphx012jogzfr99/8072021644_3a6bddc303_m.jpg?dl=0"/>
          </div> 
           <p>Clevedon Pier after the sunset, Clevedon, UK</p>
          <p><a href="https://flic.kr/p/diidNY">See it in my Flickr page.</a></p>
              
       </div>
      </div> 
    </div>
      
       <div class="row">
        <div class="col-md-4">
        <div class="thumbnail">
         <h3>Bud and butterfly</h3>  
          <div>
          <img src="https://dl.dropboxusercontent.com/s/qx6t2hrk297kxot/13039293924_7b2d7c61fc_m.jpg?dl=0"/>
         </div>
           <p>A peacock butterfly on a pussy willow bud</p>
           <p><a href="https://flic.kr/p/kSdPYT">See it in my Flickr page(b&w version).</a> </p>
       </div>
     </div>
     
      <div class="col-md-4">
        <div class="thumbnail">
          <h3>Secret of the wind</h3>
          <div>
          <img src="https://dl.dropboxusercontent.com/s/zt7a876hi34502e/9117942006_6e8c2f59d5_m.jpg?dl=0"/>
         </div>
          <p>Sea Campion on the hillside at Ilfracombe, UK</p>
          <p><a href="https://flic.kr/p/eTHQuE">See it in my Flickr page.</a> </p>
       </div>
      </div>
    
      <div class="col-md-4">
        <div class="thumbnail">
          <h3>The rest is silence</h3>
          <div>
          <img src="https://dl.dropboxusercontent.com/s/zlj2z4citn99e5v/8091079071_35429d3e05_m.jpg?dl=0"/>
         </div>
          <p>Inside the Château de Chambord, Loir-et-Cher, France</p>
          <p><a href="https://flic.kr/p/diidNY">See it in my Flickr page.</a></p>
              
       </div>
     </div> 
    </div>
      
  </div>      