  
  
<div class="jumbotron">
  <div class="container">
    <div class="main">
      <div class="col-md-8">
      <h1>Hello! My name is Mashuk. I am learning Ruby on Rails. 
     </h1>
        <p> I Like taking pictures. I like photographs of life, art and culture. Nature, landscape, seaside, boats always get a room in my photography.</p>
        
        <p>I will try to make a photo-website and I will use Ruby on Rails.</p>
     
        <div> <%= link_to "View my work", "/portfolio", :class => "btn-default" %></div>
      
      
     </div>
    </div>
  </div>
</div> 


  